#table-container {
  overflow: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
}

#table-container, #table-container table
{
    transform:rotateX(180deg);
    -ms-transform:rotateX(180deg); /* IE 9 */
    -webkit-transform:rotateX(180deg); /* Safari and Chrome */
}

th {
  text-align: center;
}


td, th {
  border: 1px solid rgba(0,0,0,.02);
  padding: 5px;
}


tr:nth-child(odd) {
  background: rgba(0, 0, 0, 0.03)
}

thead {
  border-bottom: 2px solid rgba(0,0,0,0.2);
}

.table-doc {
  white-space: pre-line;
  margin-top: 1em;
}

.breadcrum {
  margin-bottom: 1em;
}

.table-exports-links {
  float: right;
}
